{% extends "home/layout.html" %}
{% block content %}
<div class="container-fluid">
  <div class="row">

   
    <div class="col-md-3" style="border: 1px solid black; height: 100%; margin-top:130px;">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('home_blueprint.announcements', course_id = course.id)}}">Announcements</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Documents</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('home_blueprint.view_assignment', course_id = course.id)}}">Assignments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('home_blueprint.view_lectures', course_id = course.id)}}">Questionaires about lectures</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('home_blueprint.liveformlectures', course_id = course.id)}}">Live Form</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('home_blueprint.view_grade', course_id = course.id)}}">Grades</a>
            </li>
        </ul>
    </div>

    
    <div class="col-md-9">
      <div class="jumbotron">
       

        <h1 class="display-4" align="center" style="font-weight:600">{{course.title}} </h1>
        <hr class="my-4">
        <div class="container"><p class="text-center"><strong><u>Documents</u></strong></p></div>

        <div class="container">
          <div class="row">
            <div class="col-12">
              <table class="table table-bordered">
                <thead>
                  <tr>
                   
                    <th scope="col">Document</th>
                    

                  </tr>
                </thead>
                <tbody>
                    {% for viewdocument in viewdocuments %}
                    <tr>


                        <td><a href="#" target="_blank" title="{{ viewdocument.filename }}" download>{{ viewdocument.filename }}</a></td>



                    </tr>

                    {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
