{% extends "home/layout.html" %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3" style="border: 1px solid black; height: 100%; margin-top:130px;">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('home_blueprint.announcements', course_id = course.id)}}">Announcements</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('home_blueprint.view_documents', course_id = course.id)}}">Documents</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('home_blueprint.view_assignment', course_id = course.id)}}">Assignments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('home_blueprint.view_lectures', course_id = course.id)}}">Questionaires about lectures</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('home_blueprint.liveformlectures', course_id = course.id)}}">Live Form</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Grades</a>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
      <div class="jumbotron">
        <h1 class="display-4" align="center" style="font-weight:400">{{course.title}}</h1>
        <hr class="my-4">
        <div class="container"><p class="text-center"><strong><u>Grades</u></strong></p></div>
       <div class="container" style="border:1px solid black;">
                <div class="row" >
                    {% if grade %}
                  <div class="col-sm" style="border:1px solid black; height:30px;">
                    <strong>Grade:</strong>
                  </div>
                  <div class="col-sm" style="border:1px solid black; height:30px;">
                    {{grade.grade}}
                  </div>
                    {% endif %}
                </div>
              </div>
          </div>
    </div>
  </div>
</div>
{% endblock %}