{% extends "teacherhome/layout.html" %}
{% block metatags %} {% endblock %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">My Courses</h1>
    <hr class="my-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Course Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for course in teacher_courses%}
                        <tr>
                            <td><a href="{{url_for('teacherhome_blueprint.courseteacher', course_id = course.id)}}">{{course.title}}</a></td>                          
                        </tr>
                        {%endfor%}                      
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}