{% extends "layout.html" %}
{% block content %}
<p class="lead" style="font-weight:800; font-size:35px;">All courses</p>
<hr class="my-4">
<div class="container mt-5">
  <div class="row">
      <!-- Repeat this card structure for each course -->
      <div class="col-md-4 mb-4">
          <div class="card">
              <img src="course-image.jpg" class="card-img-top" alt="Course Image">
              <div class="card-body">
                  <h5 class="card-title" style="font-weight:800">Course 1</h5>
                  <p class="card-text">Course description goes here.</p>
                  <a href="#" class="btn btn-primary">Enroll Now</a>
              </div>
          </div>
      </div>
      <!-- Repeat ends -->
  </div>
</div>

<div class="container mt-5">
  <div class="row">
      <!-- Repeat this card structure for each course -->
      <div class="col-md-4 mb-4">
          <div class="card">
              <img src="course-image.jpg" class="card-img-top" alt="Course Image">
              <div class="card-body">
                  <h5 class="card-title" style="font-weight:800">Course 2</h5>
                  <p class="card-text">Course description goes here.</p>
                  <a href="#" class="btn btn-primary">Enroll Now</a>
              </div>
          </div>
      </div>
      <!-- Repeat ends -->
  </div>
</div>

<div class="container mt-5">
  <div class="row">
      <!-- Repeat this card structure for each course -->
      <div class="col-md-4 mb-4">
          <div class="card">
              <img src="course-image.jpg" class="card-img-top" alt="Course Image">
              <div class="card-body">
                  <h5 class="card-title" style="font-weight:800">Course 3</h5>
                  <p class="card-text">Course description goes here.</p>
                  <a href="#" class="btn btn-primary">Enroll Now</a>
              </div>
          </div>
      </div>
      <!-- Repeat ends -->
  </div>
</div>
{% endblock %}
 


 