{% extends "home/layout.html" %}
{% block content %}
<div class="jumbotron"> 
    {%for course in enrolled_courses%}
    <h1 class="display-4" align="center" style="font-weight:600">{{course.title}} </h1>
    <hr class="my-4">
    <div class="container"><p class="text-center"><strong><u>About the course</u></strong></p>
                           <p>{{course.description}}</p>
    {%endfor%}
</div>
    <div style="width:15% ;border:1px solid black; height:100% "> 
    <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="/announcements">Announcements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/documents">Documents</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/assignments">Assignments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/discussion">Discussion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/grades">Grades</a>
        </li>
      </ul>
    </div>
</div>
    <div>
      {% endblock %}
