{% extends "teacherhome/layout.html" %} 
{% block metatags %} {% endblock %} 
{% block content %}
<div class="jumbotron">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
      </ol>
    </nav>
    <h1 class="display-4">My Courses</h1> 
    <hr class="my-4">
   <div class="container">
      <div class="row">
        <div class="col-12">
          <table class="table table-bordered">
            <thead>
              <tr>
              <th scope="col">Course Name</th>
                <th scope="col"></th>               
              </tr>
            </thead>
            <tbody>
              <tr>
               <td><a href="/coursedetailsteacher">Course 1</a></td>               
                <td><button id="unenroll-button" type="button" class="btn btn-danger">Delete</button></td>
                </tr>
              <tr>
               <td><a href="/coursedetailsteacher">Course 2</a></td>
          <td><button id="unenroll-button" type="button" class="btn btn-danger">Delete</button></td>
                </tr>
              <tr>
               <td><a href="/coursedetailsteacher">Course 3</a></td>       
        <td><button id="unenroll-button" type="button" class="btn btn-danger">Delete</button></td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>   
  </div>
{% endblock %}